@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-game);
}


@keyframes hit-flash {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.animate-hit-flash {
  animation: hit-flash 0.5s ease-out forwards;
}
